*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.home{

}
.wather_viuw{
    width: 40vh;
    height: 50vh;
    margin: auto;
    text-align: center;
    img{
    width: 40vh;

    }
    .temp{
        font-weight: 550;
        font-family: Arial, Helvetica, sans-serif;
     font-size: 80px;
    }
}